:root{
--accent:#1da9ff;
--container:1200px;
}

body{
margin:0;
font-family:Poppins,sans-serif;
background:#070b12;
color:white;
}

.container{
max-width:var(--container);
margin:auto;
padding:0 20px;
}

/* NAVBAR */

nav{
position:fixed;
top:0;
width:100%;
background:rgba(10,15,25,.6);
backdrop-filter:blur(14px);
z-index:1000;
}

.nav-inner{
display:flex;
justify-content:space-between;
align-items:center;
height:70px;
}

nav a{
color:#7fd3ff;
margin-left:25px;
text-decoration:none;
}

/* HERO */

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

/* SECTION */

.section{
padding:120px 0;
}

footer{
text-align:center;
padding:40px;
background:#03050a;
color:#aaa;
}
/* ================= PAGE TRANSITION ================= */

body{
opacity:0;
transition:opacity .4s ease;
}

body.page-enter{
opacity:1;
}

body.page-leave{
opacity:0;
}
