<nav class="navbar">

<div class="nav-inner">

<div class="logo">
<a href="/index.html">
<img src="/assets/logo.png" alt="Trend-elektro">
</a>
</div>

<ul class="nav-links">

<li><a href="/index.html">Kezdőlap</a></li>

<li><a href="/termekek.html">Termékeink</a></li>

<li><a href="/szolgaltatasok.html">Szolgáltatások</a></li>

<li><a href="/szerviz.html">Szerviz</a></li>

<li><a href="/kapcsolat.html">Kapcsolat</a></li>

<li class="dropdown">

<a href="#">Webshop ▾</a>

<ul class="dropdown-menu">

<li>
<a href="https://trendelshop.hu" target="_blank">
TrendelShop
</a>
</li>

<li>
<a href="https://kabelsaruk.hu" target="_blank">
KábelSaruk
</a>
</li>

</ul>

</li>

</ul>

</div>

</nav>